<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power Department - <%= htmlWebpackPlugin.options.title %></title>
    <link href="styles.css" rel="stylesheet"></head>
</head>
<body>
<video autoplay controls onloadstart="this.volume=0.6" class="cutscene" id="cutscene" src="assets/video/<%= htmlWebpackPlugin.options.cutscene %>.webm">
<track label="English" kind="subtitles" srclang="en" src="assets/video/<%= htmlWebpackPlugin.options.cutscene %>.vtt" default />
</video>
<p id="next-button" class="center-text visible"><a class="center-text" href="<%= htmlWebpackPlugin.options.level %>">Next Level</a></p>
</body>
</html>
