<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Power Department - main menu</title>
  <link href="styles.css" rel="stylesheet"></head>
</head>
<body>
  <h1>Power Department (post-jam)</h1>
  <ul>
    <li><h2><a  href="tutorial.html">Tutorial</a></h2></li>
    <li><h2><a href="level1intro.html">Start game</a></h2></li>
  </ul>
</body>
</html>
