<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Power Department - main menu</title>
  <link href="styles.css" rel="stylesheet"></head>
</head>
<body>
  <ul>
    <li><a href="tutorial.html">Tutorial</a></li>
    <li><a href="level1intro.html">Start game</a></li>
  </ul>
</body>
</html>
